.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after{
  clear: both;
}

/*------------------------------------------*/

.header_topline{
	background-color: #d0d3d3;
	padding: 15px 0;
}

.header_topImg{
	background-image: url(../img/banner.jpg);
	height: 800px;
}

.top_img{
	text-align: center;
}
